{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}Unzer{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/syliusunzerplugin/admin-ui/css/index.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        console.log({{ stores|json_encode|raw }})
        Unzer = {
            config: {
                apiUrl: "/admin/unzer/api",
                connectionUrl: "/admin/unzer/api/connection",
                appPath: "{{ path('unzer_admin_config') }}/",
                stores: {{ stores|json_encode|raw }},
                store: {{ store|json_encode|raw }},
                version: {{ version|json_encode|raw }},
                imagesUrl: "{{ asset('bundles/syliusunzerplugin/admin-ui/images') }}"
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            Unzer.stateController.start();
        });
    </script>
    <script type="application/javascript" src="{{ asset('bundles/syliusunzerplugin/admin-ui/js/index.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="adl-page" id="adl-page">
        <main>
            <header id="adl-main-header">
                <div class="adl-page-header"></div>
                <div class="adl-header-holder" id="adl-header-section"></div>
            </header>
            <div class="unzer-page-wrapper">
                <div class="unzer-content-holder">
                    <main id="unzer-main-page"></main>
                </div>
                <footer id="unzer-footer"></footer>
            </div>
        </main>
    </div>
{% endblock %}
