{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}Unzer{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/syliusunzerplugin/admin-ui/css/index.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        console.log({{ stores|json_encode|raw }})
        Unzer = {
            config: {
                apiUrl: '/admin/unzer/api',
                connectionUrl: '/admin/unzer/api/connection',
                paymentMethodsUrl: '/admin/unzer/api/paymentMethod',
                storeUrl: '/admin/unzer/api/store',
                countryUrl: '/admin/unzer/api/country',
                credentialUrl: '/admin/unzer/api/credential',
                appPath: "{{ path('unzer_admin_config') }}/",
                stores: {{ stores|json_encode|raw }},
                store: {{ store|json_encode|raw }},
                version: {{ version|json_encode|raw }},
                imagesUrl: "{{ asset('bundles/syliusunzerplugin/admin-ui/images') }}",
                flagsUrl: "{{ asset('bundles/syliusunzerplugin/admin-ui/images/flags') }}",
                locales: {{ locales|json_encode|raw }},
                currentLocale: {{ currentLocale|json_encode|raw }},
                chargeStatusFlag: false
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            Unzer.stateController.start()
        })
    </script>
    <script type="application/javascript" src="{{ asset('bundles/syliusunzerplugin/admin-ui/js/index.js') }}"></script>
    <script type="module" src="https://static-v2.unzer.com/v2/ui-components/index.js"></script>


{% endblock %}

{% block content %}
    <div class="adl-page" id="adl-page">
        <main>
            <header id="adl-main-header">
                <div class="adl-page-header"></div>
                <div class="adl-header-holder" id="adl-header-section"></div>
            </header>
            <div class="unzer-page-wrapper">
                <div class="unzer-content-holder">
                    <main id="unzer-main-page"></main>
                </div>
                <div id="unzer-container"></div>
                <footer id="unzer-footer"></footer>
            </div>
        </main>
    </div>
{% endblock %}
