{% import "@SyliusShop/shared/macro/money.html.twig" as money %}


{% set order = hookable_metadata.context.order %}
{% set transaction = unzer_transaction(order) %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/syliusunzerplugin/admin/css/unzer_admin.scss') }}">
{% endblock %}

{% if transaction and transaction.items is not empty %}
    <div class="twelve wide column sticky-column">
        <div class="ui segment">
            <div class="unzer-logo-container">
                <img class="unzer-logo" src="{{ asset('bundles/syliusunzerplugin/admin/images/unzer_logo.png') }}"
                     alt="unzer_logo">
                <span>{{ 'sylius_unzer_plugin.order.unzer.label'|trans }}</span>
            </div>
        </div>

        <h4 class="ui attached styled header top">
            {{ 'sylius_unzer_plugin.order.transaction_details.header'|trans }}
        </h4>
        <div class="ui attached segment">
            <table class="ui celled compact table">
                <thead>
                <tr>
                    <th class="center aligned"> {{ 'sylius_unzer_plugin.order.transaction_details.date'|trans }}</th>
                    <th class="center aligned ">{{ 'sylius_unzer_plugin.order.transaction_details.payment_id'|trans }}</th>
                    <th class="center aligned ">{{ 'sylius_unzer_plugin.order.transaction_details.payment_method'|trans }}</th>
                    <th class="center aligned ">{{ 'sylius_unzer_plugin.order.transaction_details.authorized'|trans }}</th>
                    <th class="center aligned ">{{ 'sylius_unzer_plugin.order.transaction_details.charged'|trans }}</th>
                    <th class="center aligned ">{{ 'sylius_unzer_plugin.order.transaction_details.refunded'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <td class="center aligned">{{ transaction.items[0].date }}</td>
                <td class="center aligned">{{ transaction.items[0].paymentId }}</td>
                <td class="center aligned">
                    <div class="unzer-transaction-container">
                        <img class="unzer-transaction-image" alt="{{ transaction.type }}"
                             src="{{ asset('bundles/syliusunzerplugin/admin-ui/images/' ~ transaction.items[0].paymentType ~ '.svg') }}"/>
                        <span
                            class="unzer-transaction-label">{{ transaction.type|capitalize }}</span>
                    </div>
                </td>
                <td class="center aligned">{{ money.format((transaction.amounts.authorized.amount * 100)|round, transaction.amounts.authorized.currency) }}</td>
                <td class="center aligned">{{ money.format((transaction.amounts.charged.amount * 100)|round, transaction.amounts.charged.currency) }}</td>
                <td class="center aligned">{{ money.format((transaction.amounts.refunded.amount * 100)|round, transaction.amounts.refunded.currency) }}</td>
                </tbody>
            </table>
        </div>

        <h4 class="ui attached styled header top">
            {{ 'sylius_unzer_plugin.order.transaction_history.header'|trans }}
        </h4>
        <div class="ui attached segment">
            <table class="ui celled compact table">
                <thead>
                <tr>
                    <th class="center aligned"> {{ 'sylius_unzer_plugin.order.transaction_history.date'|trans }}</th>
                    <th class="center aligned"> {{ 'sylius_unzer_plugin.order.transaction_history.payment_id'|trans }}</th>
                    <th class="center aligned"> {{ 'sylius_unzer_plugin.order.transaction_history.transaction_id'|trans }}</th>
                    <th class="center aligned"> {{ 'sylius_unzer_plugin.order.transaction_history.payment_method'|trans }}</th>
                    <th class="center aligned"> {{ 'sylius_unzer_plugin.order.transaction_history.type'|trans }}</th>
                    <th class="center aligned"> {{ 'sylius_unzer_plugin.order.transaction_history.status'|trans }}</th>
                    <th class="center aligned"> {{ 'sylius_unzer_plugin.order.transaction_history.amount'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in transaction.items %}
                    <tr>
                        <td class="center aligned">{{ item.date }}</td>
                        <td class="center aligned">{{ item.paymentId }}</td>
                        <td class="center aligned">{{ item.id }}</td>
                        <td class="center aligned">
                            <div class="unzer-transaction-container">
                                <img class="unzer-transaction-image" alt="{{ transaction.type }}"
                                     src="{{ asset('bundles/syliusunzerplugin/admin-ui/images/' ~ item.paymentType ~ '.svg') }}"/>
                                <span class="unzer-transaction-label">{{ item.paymentType|capitalize }}</span>
                            </div>
                        </td>
                        <td class="center aligned">{{ item.type|capitalize }} </td>
                        <td class="center aligned">{{ item.status }} </td>
                        <td class="center aligned">{{ money.format((item.amount.amount * 100)|round, item.amount.currency) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

